@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<EventViewMode>
<head>
</head>

<body>
    <div class="text-center">
        <div class="text-right">
            <input onclick="location.href='@Url.Action("Preview", "Home")'" type="button" name="button" class="button1" value="Preview Mode" />
        </div>
        <table width="100%" id="table" class="table table-bordered table-responsive table-hover cell-border" cellspacing="0">
            <thead>
                <tr>
                    <th>EventId</th>
                    <th>EventName</th>
                    <th>OddsForFirstTeam</th>
                    <th>OddsForDraw</th>
                    <th>OddsForSecondTeam</th>
                    <th>EventStartDate</th>
                </tr>
            </thead>
            @foreach (var item in Model.OrderBy(e => e.Id))
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.OddsForFirstTeam</td>
                    <td>@item.OddsForDraw</td>
                    <td>@item.OddsForSecondTeam</td>
                    <td>@item.EventStartDate</td>
                    <td><button type="button" class="edit-btn">Edit</button></td>
                    <td><button type="button" class="delete-btn">Delete</button></td>
                </tr>
                
            }
        </table>
        <div class=" text-left">
            <button>Add New</button>
        </div>
        
    </div>
</body>

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "search": false,
            "paging": false,
            "searching": false,
            "info": false,
            "order": false,
        });
    });
</script>